<div class="secondary-banner-container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="secondary-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="montbold white home-header">Our Teams</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <tabset justified="true">
          <tab heading="{{team.age}} Skeeters" ng-repeat="team in teams">
            <div class="team-pg">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="montbold">Staff</h3>
                  <p class="montlight">Kyle Manship - Head Coach</p>
                  <p class="montlight">John Smith - Asst. Coach</p>
                  <p class="montlight">Larry Bold - Asst. Coach</p>
                  <h3 class="montbold">Roster</h3>
                  <div class="row" ng-repeat="player in players" ng-if="player.teamAge === team.age">
                    <div class="col-md-1">
                      <p class="montlight player-text">#{{player.number}}</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight player-text">{{player.firstName}} {{player.lastName}}</p>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6">
                  <img src="/assets/images/team_img.png" width="100%" />
                </div>
              </div>
            </div>
          </tab>
          <!--<tab heading="9U Skeeters">
            <div class="team-pg">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="montbold">Staff</h3>
                  <p class="montlight">Kyle Manship - Head Coach</p>
                  <p class="montlight">John Smith - Asst. Coach</p>
                  <p class="montlight">Larry Bold - Asst. Coach</p>
                  <h3 class="montbold">Roster</h3>
                  <div class="row">
                    <div class="col-md-1">
                      <p class="montlight">#7</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight">Avery Johnson</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <p class="montlight">#26</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight">Drew Lamb</p>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6">
                  <img src="/assets/images/team_img.png" width="100%" />
                </div>
              </div>
            </div>
          </tab>
          <tab heading="10U Skeeters">
            <div class="team-pg">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="montbold">Staff</h3>
                  <p class="montlight">Kyle Manship - Head Coach</p>
                  <p class="montlight">John Smith - Asst. Coach</p>
                  <p class="montlight">Larry Bold - Asst. Coach</p>
                  <h3 class="montbold">Roster</h3>
                  <div class="row">
                    <div class="col-md-1">
                      <p class="montlight">#7</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight">Avery Johnson</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <p class="montlight">#26</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight">Drew Lamb</p>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6">
                  <img src="/assets/images/team_img.png" width="100%" />
                </div>
              </div>
            </div>
          </tab> -->
        </tabset>
      </div>
    </div>
  </div>
</div>
