<div class="secondary-banner-container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="secondary-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="montbold white home-header">Our Teams</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="team-info-container" ng-repeat="team in teams">
          <h2 class="montlight">{{team.age}} Skeeters</h2>

            <div class="row">
              <div class="col-md-6">
                <div class="team-info-coaches">
                  <h3 class="montbold">Staff</h3>
                  <p class="montlight coaches-list" ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Head Coach'">{{coach.firstName}} {{coach.lastName}} - {{coach.type}}</p>
                  <p class="montlight coaches-list" ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Assistant Coach'">{{coach.firstName}} {{coach.lastName}} - {{coach.type}}</p>
                  <p class="montlight coaches-list" ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Pitching Coach'">{{coach.firstName}} {{coach.lastName}} - {{coach.type}}</p>
                  <p class="montlight coaches-list" ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Strength Coach'">{{coach.firstName}} {{coach.lastName}} - {{coach.type}}</p>
                </div>
                <div class="team-info-players">
                  <h3 class="montbold">Rosters</h3>
                  <div ng-repeat="player in players | orderBy:'number.reverse'" ng-if="player.teamAge === team.age">
                    <div class="row">
                      <div class="col-md-1">
                        <p class="montlight player-text">#{{player.number}}</p>
                      </div>
                      <div class="col-md-11">
                        <p class="montlight player-text">{{player.firstName}} {{player.lastName}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="/assets/images/skeetersAll.png" width="100%" />
              </div>
            </div>


          


        </div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="secondary-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <tabset justified="true">
          <tab heading="{{team.age}} Skeeters" ng-repeat="team in teams">
            <div class="team-pg">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="montbold">Staff</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div ng-repeat="coach in coaches" ng-if="coach.teamAge ===  team.age && coach.type === 'Head Coach'">
                        <p class="montlight coaches-list">{{coach.firstName}} {{coach.lastName}} - Head Coach</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Assistant Coach'">
                        <p class="montlight coaches-list">{{coach.firstName}} {{coach.lastName}} - Assistant Coach</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Pitching Coach'">
                        <p class="montlight coaches-list">{{coach.firstName}} {{coach.lastName}} - Pitching Coach</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div ng-repeat="coach in coaches" ng-if="coach.teamAge === team.age && coach.type === 'Conditioning Coach'">
                        <p class="montlight coaches-list">{{coach.firstName}} {{coach.lastName}} - Conditioning Coach</p>
                      </div>
                    </div>
                  </div>

                  <h3 class="montbold">Roster</h3>
                  <div class="row" ng-repeat="player in players | orderBy:'number.reverse'" ng-if="player.teamAge === team.age">
                    <div class="col-md-1">
                      <p class="montlight player-text">#{{player.number}}</p>
                    </div>
                    <div class="col-md-11">
                      <p class="montlight player-text">{{player.firstName}} {{player.lastName}}</p>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6">
                  <img src="/assets/images/team_img.png" width="100%" />
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div> -->
