<div class="secondary-banner-container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="secondary-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="montbold white home-header">Upcoming Schedule</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="toggle-view-btns">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Calendar'" uncheckable><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Calendar View</label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'List'" uncheckable><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;List View</label>
          </div>
        </div>
      </div>
    </div>
    <!-- CALENDAR VIEW -->
    <div class="row">
      <div class="col-md-12">
        <div ng-show="radioModel === 'Calendar'">
          <div ui-calendar ng-model="eventSources"></div>
        </div>
      </div>
    </div>
    <!-- LIST VIEW -->
    <div ng-show="radioModel === 'List'">
      <div class="row">
        <div class="col-md-4">
          <select class="form-control">
            <option value="">-- Filter Events by Team --</option>
          </select>
        </div>
      </div> <!-- ROW CLOSE -->

      <div class="row">
        <div class="col-md-5">
          <h2 class="montbold events-header">Practices</h2>
          <div>
            <div class="row">
              <div class="col-md-12">
                <div class="event-item">
                  <h4 class="montbold event-date"><span class="red">Feb 25</span> - 9U Practice</h4>
                  <p class="montlight event-detail"><span class="grey">Location:</span> <span class="blue montregular">Bethesda 5</span> | <span class="grey">Time:</span> <span class="blue montregular">5:00p - 7:00p</span> | View&nbsp;Details</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <h2 class="montbold events-header">Games & Tournaments</h2>
          <div class="row">
              <div class="col-md-12">
                <div class="event-item">
                  <h4 class="montbold event-date"><span class="red">Mar 1 - Mar 3</span> - Spring Slam</h4>
                  <p class="montlight event-detail"><span class="grey">Location:</span> <span class="blue montregular">Fly Park, Franklin, TN</span> | <span class="grey">Team:</span> <span class="blue montregular">9U</span></p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
