.toggle-view-btns {
  margin-bottom:20px;
}
.events-header {
	border-bottom:2px solid #ddd;
	color:#222;
	font-size:1.75em;
}
.box {
	background-color:#095eaa;
	padding:7px 7px;
	color:#fff;
}
.event-date {
	margin:0;
	padding:0;
}
.event-item {
	margin-bottom:10px;
	padding:5px 0;
	border-bottom:1px solid #ddd;
}
.grey {
	color:#888;
}
.blue-hi {
	color:#fff;
	background-color:#b4a26d;
	padding:2px 5px;
	font-family:'montlight';
}
.red {
	color:#e51937;
	font-family:'montbold';
}
.Skeeter9U {
	background:#095eaa;
	border-color:#095eaa;
}
.Skeeter8U {
	background:#222;
	border-color:#222;
}
.Skeeter10U {
	background:#B5A167;
	border-color:#B5A167;
}

.black-event { color:#fff;background:#222;padding:4px; }
.gold-event { background:#B5A167;color:#fff;padding:4px; }
.blue-event { background:#095eaa;color:#fff;padding:4px; }

.view-text {
	font-size:1.2em;
}
.calendar-list-view {
	margin-top:0px;
}