<div class="secondary-banner-container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="secondary-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="montbold white home-header">Upcoming Schedule</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="toggle-view-btns">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Calendar'" uncheckable><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Calendar View</label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'List'" uncheckable><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;List View</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-right">
          <span class="black-event">8U Events in Black</span> |
          <span class="blue-event">9U Events in Blue</span> |
          <span class="gold-event">10U Events in Gold</span>
        </p>
      </div>

    </div>
    <!-- CALENDAR VIEW -->
    <div class="row">
      <div class="col-md-12">
        <div ng-show="radioModel === 'Calendar'">
          <div ui-calendar ng-model="eventSources"></div>
        </div>
      </div>
    </div>
    <!-- LIST VIEW -->
    <div ng-show="radioModel === 'List'">
      <div class="row">
        <div class="col-md-4">
          <select class="form-control" ng-model="selectedTeam">
            <option value="">-- Filter Events by Team --</option>
            <option ng-value="team.age" ng-repeat="team in teams">{{team.age}}</option>
          </select>
        </div>
      </div> <!-- ROW CLOSE -->

      <div class="row">
        <div class="col-md-5">
          <h2 class="montbold events-header">Practices</h2>
          <div>
            <div class="row">
              <div class="col-md-12">
                <div class="event-item" ng-repeat="event in events | orderBy:'start' | filter:selectedTeam" ng-if="event.type === 'Practice' || event.type === 'Scrimmage'">
                  <h4 class="montbold event-date"><span class="red">{{event.start | date:'MMMM d'}}</span> - {{event.title}}</h4>
                  <p class="montlight event-detail"><span class="grey">Location:</span> <span class="blue montregular">{{event.location}}</span> | <span class="grey">Time:</span> <span class="blue montregular">{{event.time}}</span> | View&nbsp;Details</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <h2 class="montbold events-header">Games & Tournaments</h2>
          <div class="row">
              <div class="col-md-12">
                <div class="event-item" ng-repeat="event in events | orderBy:'start' | filter:selectedTeam" ng-if="event.type === 'Game' || event.type === 'Tournament'">
                  <h4 class="montbold event-date"><span class="red">{{event.start | date:'MMMM d'}}</span> - {{event.title}}</h4>
                  <p class="montlight event-detail"><span class="grey">Location:</span> <span class="blue montregular">{{event.location}}</span> | <span class="grey">Time:</span> <span class="blue montregular">{{event.time}}</span> | View&nbsp;Details</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
