.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.main-event-title {
    font-size:1.3em;
    margin:0;
    line-height:1.1;
}
.main-event-detail {
    font-size:1.0em;
    margin:0;
}
.about-text { 
    font-size:1.1em;
    margin:0;
}
.main-event-container {
    margin-bottom:15px;
}
.button-padtop {
    margin-top:10px;
}
.blue {
    color:#095eaa;
    font-family:'montbold';
}
.about-image {
    margin-bottom:20px;
    border: 2px solid #eee;
}
.main-select {
    margin-bottom:15px;
}
.gold {
    color:#998A5B;
}
.practice-title-small {
    font-size:.7em;
}
.shrink { font-size:.6em;}