<div class="dashboard-nav-container">
  <div ng-include="'components/navbar/dashboardnavbar.html'"></div>
</div>

<div class="dash-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      	<h2 class="montbold blue manage-roster-header">Manage Coaches</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="selector">
              <select class="form-control" ng-model="selectedTeam">
                <option value="">-- all teams --</option>
                <option ng-value="team.age" ng-repeat="team in teams">{{team.age}}</option>
              </select>
            </div>
          </div>
        </div>



        <table class="table table-condensed">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Position</th>
								<th>Team</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="coach in coaches | filter:selectedTeam | orderBy:'lastName'">
								<td>{{coach.firstName}}</td>
								<td>{{coach.lastName}}</td>
								<td>{{coach.type}}</td>
								<td>{{coach.teamAge}}</td>
								<td><button type="button" class="close" ng-click="deleteCoach(coach)"><span class="montbold">&times;</span></button></td>
							</tr>
						</tbody>
					</table>
      </div>
      <div class="col-md-4">
      	<div class="add-player-container">
        	<h3 class="add-player-header montbold">Add Coaches</h3>
							<form>
								<div class="form-group">
									<label class="sr-only">First Name</label>
									<input type="text" placeholder="First Name" class="form-control no-radius-input" 	ng-model="newCoachFirstName" />
								</div>
								<div class="form-group">
									<label class="sr-only">Last Name</label>
									<input type="text" placeholder="Last Name" class="form-control no-radius-input" 	ng-model="newCoachLastName" />
								</div>
								<!--<div class="form-group">
									<label class="sr-only">Number</label>
									<input type="text" placeholder="Jersey Number" class="form-control no-radius-input" ng-model="newCoachType" />
								</div>-->
								<div class="form-group">
									<select ng-model="newCoachType" class="form-control no-radius-select">
										<option value="">-- choose coach type --</option>
										<option value="Head Coach">Head Coach</option>
										<option value="Assistant Coach">Assistant Coach</option>
										<option value="Pitching Coach">Pitching Coach</option>
										<option value="Strength Coach">Strength Coach</option>
									</select>
								</div>
								<div class="form-group">
									<select ng-model="newCoachTeam" class="form-control no-radius-select">
										<option value="">-- choose team --</option>
										<option ng-value="team.age" ng-repeat="team in teams">{{team.age}}</option>
									</select>
								</div>
								<button class="btn btn-default btn-sm" ng-click="addCoach()">Add Coach</button>
								<button class="btn btn-reset btn-sm pull-right" ng-click="resetForm()">Reset</button>
							</form>
				</div>
      </div>
    </div>
  </div>
</div>
