.navbar {
  margin-bottom:0;
}
.dash-header {
  background: #ddd;
}
.dash-header h2 {
  margin:0;
  padding:30px 0;
}
.dash-main {
  padding-top:30px;
}
.selector {
  padding-bottom:15px;
}
.dashboard-nav-container {
	background:#222;
	padding:10px 0;
}
.navbar-default .navbar-brand2 {
  color: #fff;
}
.navbar-brand2 {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  font-family:'montbold';
}
.navbar-brand2:hover,
.navbar-brand2:focus {
  text-decoration: none;
}

input.no-radius-input { border-radius:4px; }
select.no-radius-select { border-radius:0; }

.add-player-container {
  padding:0 0 30px 30px;
  border-left:1px solid #e3e3e3;
}
.add-player-header {
  margin:0 0 10px 0;
}

.table th { 
  font-family:'montbold';
  font-size:0.95em;
}
.table td {
  font-family:'montlight';
  font-size:0.9em;
}

.manage-roster-header {
  margin-top:0;
  margin-bottom:15px;
}
.event-listing {
  border-bottom:1px solid #eee;
}

.markdown-text-container p { font-family:'montlight'; }
.markdown-text-container h1,h2,h3,h4,h5 { font-family:'montbold'; }
.update-header { margin-top:0;margin-bottom:0; }
.update-listing {border-top:3px solid #eee;margin-top:20px; }
.post-list-title { margin-bottom:0;margin-top:0; }
.post-list-detail-mid { margin-top:0;margin-bottom:0; }
.post-list-detail-btm { margin-top:0;margin-bottom:0; }
.update-each { padding:15px 0;border-bottom:1px solid #eee; }
.draft { color:red;font-family:'montbold';text-transform:uppercase; }
.posted { color:#222;font-family:'montbold';text-transform:uppercase; }
.post-list-border { padding:15px 0 5px 0;border-bottom:1px solid #eee;padding-bottom:10px; }
.post-list-border-text { margin:0;text-transform:uppercase;color:#999; }
.update-lister { }
.preview-container { padding:10px 20px; }
