<div ng-include="'components/navbar/dashboardnavbar.html'"></div>

<div class="dash-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Rosters</h2>
      </div>
    </div>
  </div>
</div>

<div class="dash-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="selector">
              <select class="form-control" ng-model="selectedTeam">
                <option value="">-- all teams --</option>
                <option ng-value="team.age" ng-repeat="team in teams">{{team.age}}</option>
              </select>
            </div>
          </div>
        </div>
        <table class="table table-condensed">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Number</th>
								<th>Team</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="player in players | filter:selectedTeam">
								<td>{{player.firstName}}</td>
								<td>{{player.lastName}}</td>
								<td>{{player.number}}</td>
								<td>{{player.teamAge}}</td>
								<td><button type="button" class="close" ng-click="deletePlayer(player)">&times;</button></td>
							</tr>
						</tbody>
					</table>
      </div>
      <div class="col-md-offset-1 col-md-3">
        <h3>Add Players</h3>

							<form>
								<div class="form-group">
									<label class="sr-only">First Name</label>
									<input type="text" placeholder="First Name" class="form-control" 	ng-model="newPlayerFirstName" required />
								</div>
								<div class="form-group">
									<label class="sr-only">Last Name</label>
									<input type="text" placeholder="Last Name" class="form-control" 	ng-model="newPlayerLastName" required />
								</div>
								<div class="form-group">
									<label class="sr-only">Number</label>
									<input type="text" placeholder="Jersey Number" class="form-control" ng-model="newPlayerNumber" required />
								</div>
								<div class="form-group">
									<select ng-model="newPlayerTeam" class="form-control" required>
										<option value="">-- choose team --</option>
										<option ng-value="team.age" ng-repeat="team in teams">{{team.	age}}</option>
									</select>
								</div>
								<button class="btn btn-default" ng-click="addPlayer()">Add Player</button>
							</form>
      </div>
    </div>
  </div>
</div>
