.secondary-banner-container {
  background-image:url('/assets/images/skeeterWM.png');
  background-position:right;
  background-color:#095eaa;
  background-repeat:no-repeat;
}
.secondary-top {
  padding:70px 0 30px 0;
}
.secondary-main {
  padding-top:40px;
  padding-bottom:40px;
}
.update-title {
  font-size:3.0em;
  margin-bottom:0;
}
.update-detail {
  margin-top:0;
  margin-bottom:25px;
  color:#bbb;
}
.update-text {
  font-size:1.2em;
}
.update-container {
  padding-bottom:30px;
  padding-top:10px;
  border-bottom:1px solid #ddd;
}
